---
title: Get Your First Dev Job!
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "womanatcomputer.jpg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
